/* =====================
   GENEL
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* =====================
   SLIDER
===================== */
.hero-slider {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  transform: translateX(100%);
  transition: transform 0.6s ease;
}

.slide.active {
  transform: translateX(0);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =====================
   VIDEO + METİN
===================== */
.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 60px;
  color: #111;
}

.video-text {
  padding: 80px 0;
}

.video-text-top {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.video {
  flex: 1;
}

.video video {
  width: 100%;
  border-radius: 14px;
}

.text {
  flex: 1;
}

.text h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.text p {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #333;
}

/* =====================
   WEB TASARIM HİZMETLERİ
===================== */
.services-area {
  margin-top: 40px;
  text-align: center;
}

.services-area h3 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
}

.service-card {
  background: #fff7b0;
  padding: 30px 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.08);
}

.service-card h4 {
  font-size: 1.15rem;
  color: #2bb3a3;
  margin-bottom: 12px;
}

.service-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}

/* =====================
   EKİP
===================== */
.team {
  background: #fdf6ec;
  padding: 80px 20px;
  text-align: center;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.team-card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  width: 220px;
}

.team-card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* =====================
   GENEL BİLGİ
===================== */
.general-info {
  padding: 80px 20px;
}

.general-info h2 {
  margin-bottom: 20px;
}

.general-info p {
  max-width: 800px;
  line-height: 1.7;
}

/* =====================
e-ticaret kısmı
=======================*/

/* =====================
   HIGHLIGHT SECTION
===================== */
.highlight-section {
  padding: 80px 20px;
  background: #fdf6ec;
}

.highlight-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: flex-start;
}

.highlight-box {
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.05);
}

.highlight-box h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: 400;
}

.highlight-box h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.highlight-box p {
  line-height: 1.7;
  margin-bottom: 15px;
  color: #333;
}

.highlight-box strong {
  line-height: 1.7;
  margin-bottom: 15px;
  color: #333;
  font-weight: 600;
}

.highlight-box ul {
  margin-top: 15px;
  padding-left: 20px;
}

.highlight-box ul li {
  margin-bottom: 10px;
  line-height: 1.6;
}

/* =====================
   RESPONSIVE
===================== */
@media (max-width: 768px) {
  .video-text-top {
    flex-direction: column;
  }

  .text h2 {
    font-size: 1.8rem;
  }
  .highlight-grid {
    grid-template-columns: 1fr;
  }
}
